h1 {
    color: rgb(155,200,250);
    font-weight: 700;
    line-height: 2.5;
    text-decoration: burlywood underline wavy;
}

p { 
    text-align: left;
}

div { 
    line-height: 2.5;
}

button:hover {
    color: rgb(155,200,250);
    text-decoration: underline;
}

input:checked + label {
    color: rgb(204, 22, 22);
}

input:[type="radio"]:checked {
    box-shadow: red;

}


checkerboard

.square:nth-of-type(2n) {
    background-color: red;
}