/* img {
    width: 30%;
    /* margin: 1.6666%; */
    /* margin: calc(10%/6);
   

} */

nav {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 50%;
    margin-left: calc(10%/6);
    padding: 1.2em 0;
   
}

#container {
    background: rgb(211, 141, 184);
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    align-items:center;
}   

#container img, div {
    /* width: 30%;
    /* margin: 1.6666%; */
    /* margin: calc(10%/6); */
    /* flex-grow: calc(10/5%); */
    width: 200px;
    height: 200px;
    margin: 2%;
    /* padding: 50px; */
    border-radius: 3px;
    transition: transform .5s;
    transform-origin: center;
    
}

#container img:hover{
    transform: scale(1.75);
    flex-shrink: 5;
    
    /* transform: scale(1.75) translateY(-25%); */
    
}

div {
    background-color: rgba(0, 0, 0, 0.653);
    font-size: 1em;
    color: antiquewhite;
    width: 200px;
    height: 200px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#map {
    height: 6em;
    width: 11em;
    border:#f1f1f1;
    border-radius: 3px;
}